# Maven build output
**/target/
**/*.class
**/*.jar

# Banco de dados local
**/usuarios.json

# IntelliJ IDEA
**/.idea/workspace.xml
**/.idea/shelf/
**/*.iml
**/*.iws
**/*.ipr

# VS Code
**/.vscode/

# Mac
**/.DS_Store

# Secrets
**/.env
**/*.env
